ion-grid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e9e9e9;

  >:nth-child(2) {
    flex: 1 1 auto;
  }

}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings{
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  flex: 0 0 70px;

  .settings-icon {
    margin-right: 3px;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}


.card-body {
  text-align: center;

  h2{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
  }

  img{
    width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
    animation: pulse 2s infinite;
  }

  &.retail{

    display: flex;
    width: 100%;
    align-items: center;

    .header{

      display: flex;
      align-items: center;
      border-right: 1px solid #dddddd;
      padding-right: 20px;
      flex: 0 0 200px;

      h2{
        margin-bottom: 15px;
      }

      img{
        width: 55px;
        height: 55px;
        margin-right: 12px;
        animation: none;
      }

    }

    .measure{
      flex: 1 1 auto;

      &:not(:last-of-type){
        border-right: 1px solid #dddddd;
      }

    }

  }

}

ion-col {
  padding: 12px;
}

.staff-name {
  text-align: center;
}

.pulse-chart {
  background-color: #dddddd;
  height: 40px;
  display: flex;
  border-radius: 0.375rem;
  position: relative;
  transition: all 2s ease;
  overflow: hidden;

  .progress {
    flex: 0 0 0%;
    height: 100%;
  }

}

.success-bg-striped{

  background: repeating-linear-gradient(
      45deg,
      #4CAF50,
      #4CAF50 10px,
      #80c883 10px,
      #80c883 20px
    );

}

.danger-bg-striped{

  background: repeating-linear-gradient(
      45deg,
      #FF5252,
      #FF5252 10px,
      #ff8585 10px,
      #ff8585 20px
    );

}

.warning-bg-striped{

  background: repeating-linear-gradient(
      45deg,
      #FFC107,
      #FFC107 10px,
      #ffd351 10px,
      #ffd351 20px
    );

}

ion-progress-bar{
  position: absolute;
  top: 0;
  z-index: 999;
}



.week-completed {
  background-color: #dddddd;
  height: 20px;
  display: flex;
  border-radius: 0.375rem;
  overflow: hidden;

  .progress {
    flex: 0 0 50%;
    height: 100%;
    background-color: #7f95ff;
  }

}

.staff-header{
  flex: 0 0 50px;
}

.numbers-block{
  .descriptor{
    font-size: 1rem;
    color: rgba($color: black, $alpha: 0.6);
  }

  .value{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 0px;

    span{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

  }

}

.pulse-descriptor{
  text-align: left;
  margin-bottom: 0px;
  margin-top: 20px;

  span{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    color: rgba($color: black, $alpha: 0.6);
  }
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(0.95);
	}
}


@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.button-div{
  position: absolute;
  right: 20px;
  top: 20px;
}
